.wrapper {
	max-width: 1125px;
	margin: 100px auto 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.cards {
	margin: auto;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(330px, 352px));
	row-gap: 40px;
	column-gap: 30px;
	justify-content: center;
}

.button {
	margin: 69px 0;
	width: 235px !important;
}

@media (max-width: 760px) {
	.wrapper {
		margin-top: 50px;
	}
}
