@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

body {
	margin: 0;
	background-color: #e5e5e5;
}

p {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
}

.subTitle {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #000000;
	opacity: 0.5;
	margin-bottom: 8px;
}

.title {
	font-size: 40px;
	line-height: 48px;
	letter-spacing: -0.02em;
	color: #000000;
}

.price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 60px;
	line-height: 72px;
}

.currencyPrice {
	font-size: 30px;
	line-height: 35px;
	letter-spacing: -0.02em;
	margin-right: 4px;
}
